.panel {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-in-out;
}

.hidden {
    display: none;
}

.initial-state {
    padding: 24px 12px;
    margin: 0;
    opacity: 0.5;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-in-out;
}

.show {
    display: block;
}

.open {
    opacity: 1;
    transform: translateY(0);
}
