@import url('./styles/basicCollapsiblePanel.css');
@import url('./styles/experimentalToggleWithAttribute.css');
@import url('./styles/containerWithKnownHeight.css');
@import url('./styles/collapsiblePanelWithJavascript.css');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    background-color: lightcyan;
    padding: 6px 8px;
    border-radius: 8px;
}

.App {
    width: 700px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 44px;
}

.container {
    margin-bottom: 24px;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.toggleButton {
    width: 100%;
    background-color: black;
    color: #f1f1f1;
    cursor: pointer;
    padding: 6px 8px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    border: none;
}
